.image{
    display:block;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.people{
 text-align: center;
}
.time{
    font-size: 50px;
    color: lightgray;
    margin-left: 220px;
    font-weight: bold;
    margin-top: 50px;
}
.one{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  color: grey;
  margin: 0;
}
span{
  font-size: small;
  flex-basis: 150px;
  text-align: center;
  max-width: 100px;
  color:black;
  border: 0;
  border-bottom: 1px solid white;
  padding: 0.2em;
  background-color: white;
  height: 35px;
  width: 25px;
}

  

.main_content{
  display: flex;
  max-width: 90%;
  margin: 0 auto;

}
h3{
  margin-top: 160px;
  margin-left: 25px;
  font-size: 18px;
}

.timeline{
  flex: 3;
}
.nutshell {
  margin-left: 20px;
  flex: 1 200px;
}
.imagesteve{
  max-width: 80%;
  max-height: 80%;
  flex:1 ;
}
.two{
  border-bottom: 1px solid lightgray;
  display: flex;
  margin-bottom: 5px;
  font-size: 15px;
  color: gray;
  font-size: 16px; 
}
.three{
  font-weight: bold;
  position: relative;
  margin-top: 20px;
  flex: 3;
  margin-right:15px;
  color: black;
}
.four{
  border: 2px solid lightgray;
  background-color: lightgrey;
  margin-top: 65px;
  margin-right:500px;
  height: 200px;
  text-align: center;
  margin-left:85px ;
  font-size: 18px;
  font-size: 'Lato' ,sans-serif;
  font-weight: bold;
  max-width: 1000px;
}